
.tw-search {
  border-radius: 50px;
}

.tw-entry{
padding-top: 5px;
}

.share-button .list-inline > li > a {
  color: darkgray;
  padding-right: 40px;
  margin-bottom: 10px;
}
.navbar form button{
  border-radius: 50px;
  border-left: none;
}

body {
  padding-top: 80px;
}

.panel-body {
  padding-bottom: 0px;
}


.panel-footer{
  margin-top: 10px;
}

.panel-margin{
  margin-top: 10px;
}

}
